* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.login {
  border-radius: 32px;
  border: 1px solid #ccc;
  background: #fff;
  width: 400px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 50px;
}
label {
  display: block;
}
h2 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login-heading {
  flex-direction: column;
  align-items: flex-start;
}
.login-subtitle {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login-group {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.login-input {
  display: flex;
  height: 40px;
  padding-left: 12px;
  width: 336px;
  height: 40px;
  padding-left: 12px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}
.login-label {
  margin-top: 16px;
  color: #555;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-submit {
  margin-top: 16px;
  border-radius: 4px;
  background: #1576ea;
  height: 40px;
  width: 336px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 250% */
}
.login-group .login-input:focus {
  background-color: #eee;
}
